<% @planets.each do |planet| %>
	<h1>Planet: <%= planet.name %></h1>
	<h3>Buildings</h3>

	<% planet.buildings.each do |b| %>
		<div class="mui-panel">
				<b><%= b.name %></b>
				<div class="mui-divider"></div>
				Level <%= b.level %>
		</div>
	<% end %>
<% end %>