<h1>Map</h1>
<table id="map"> 
<% (0..@grid_x).each do |i| %>
  <tr>
  <% (0..@grid_y).each do |l| %>
    <% obj_at_location = @locations.select do |location|%>
        <% location.x == i && location.y == l %>            
    <% end %>
    <% if !obj_at_location.empty? %>
        <td><%= "X" %></td>
    <% else %>
        <td></td>
    <% end %>
  <% end %>
  </tr>
<% end %>
</table>