<h1>Map</h1>
<table id=map> 
<% (0..@grid_x).each do |i| %>
  <tr>
  <% (0..@grid_y).each do |l| %>
    <% bla = @locations.any? do |location|%>
        <% location.x == i && location.y == l %>            
    <% end %>
    <% if bla == true %>
        <td id=grid ><%= "X" %></td>
    <% else %>
        <td id=grid></td>
    <% end %>
  <% end %>
  </tr>
<% end %>
</table>